.spirit-mask {
  position: absolute;
  width: 20%;
  right: 0;
  height: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spirit-mask .mask-btn {
  display: none;
}

.spirit-mask:hover {
  width: 100%;
  border: 2px solid #459fed;
  background-color: rgba(127,204,247,.3);
}

.spirit-mask:hover .mask-btn {
  display: inline-block;
  color: #e09e3b;
  font-size: x-large;
}
